#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  border: 1px solid white;
}

p {
  font-size: 1.2rem;
}

.font-dm-serif-display {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
}

.font-libre-baskerville {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
}

.font-fugaz-one {
  font-family: "Fugaz One", cursive;
  font-weight: 400;
}

.font-farsan {
  font-family: "Farsan", cursive;
  font-weight: 400;
  font-size: 1.5rem;
}

.font-bowlby-one-sc {
  font-family: "Bowlby One SC", cursive;
  font-weight: 400;
}
