/* Blue Green color scheme */
body,
.theme-blue-green {
  --dark-primary-color: #22577a;
  --primary-color: #38a3a5;
  --dark-secondary-color: #57cc99;
  --secondary-color: #80ed99;
  --accent-color: #c7f9cc;
  --text-color: #ffffff;
  --background-color: #242424;
}
/* Purple color scheme */
.theme-purple {
  --background-color: #231942;
  --accent-color: #5e548e;
  --primary-color: #9f86c0;
  --secondary-color: #be95c4;
  --text-color: #e0b1cb;
}
/* Cottagecore color scheme */
.theme-cottagecore {
  --primary-color: #edafb8;
  --background-color: #f7e1d7;
  --accent-color: #dedbd2;
  --secondary-color: #b0c4b1;
  --dark-secondary-color: #4a5759;
  --text-color: #242424;
}

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bowlby One SC", cursive;
}

p {
  font-family: "Libre Baskerville", serif;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: "Libre Baskerville", serif;
  background-color: var(--primary-color);
  color: var(--text-color);
  cursor: pointer;
  transition: border-color 0.25s;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
