/* Blue Green color scheme */
body,
.theme-blue-green {
  --dark-primary-color: #22577a;
  --primary-color: #38a3a5;
  --dark-secondary-color: #57cc99;
  --secondary-color: #80ed99;
  --accent-color: #c7f9cc;
  --text-color: #ffffff;
  --background-color: #242424;
}
/* Purple color scheme */
.theme-purple {
  --background-color: #231942;
  --accent-color: #5e548e;
  --primary-color: #9f86c0;
  --secondary-color: #be95c4;
  --text-color: #e0b1cb;
}
/* Cottagecore color scheme */
.theme-cottagecore {
  --primary-color: #edafb8;
  --background-color: #f7e1d7;
  --accent-color: #dedbd2;
  --secondary-color: #b0c4b1;
  --dark-secondary-color: #4a5759;
  --text-color: #242424;
}

.theme-coffee {
  --primary-color: #b08968;
  /* --primary-color: #d3a373; */
  --background-color: #ddb892;
  --accent-color: #e6ccb2;
  --secondary-color: #ede0d4;
  /* --text-color: #7f5539; */
  --text-color: #543926;
}

:root {
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Dreaming Out Loud";
  src: url("./assets/dreaming-outloud-pro-regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

/* Screen Breakpoints: 1440, 1920, 768, 375 */
#root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  border: 1px dotted white;
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bowlby One SC", cursive;
}

p {
  /* font-family: "Libre Baskerville", serif; */
  font-family: "Dreaming Out Loud", cursive;
  font-size: 2rem;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: "Libre Baskerville", serif;
  background-color: var(--primary-color);
  color: var(--text-color);
  cursor: pointer;
  transition: border-color 0.25s;
}

.polaroid-frame {
  border: 1px solid var(--secondary-color);
  background-color: #ffffff;
  padding: 20px 20px 20px 20px;
  flex: 1 16rem;
  /* width: 12vw; */
  height: 35vh;
}

.rotate-left {
  transform: rotate(-5deg);
}

.rotate-right {
  transform: rotate(5deg);
}

.polaroid-image {
  display: block;
  height: 28vh;
  width: 100%;
  object-fit: cover;
  background-color: #333333;
}

.polaroid-text {
  color: #333333;
}

.polaroid-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

p {
  font-size: 1.2rem;
}

.font-dm-serif-display {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
}

.font-libre-baskerville {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
}

.font-fugaz-one {
  font-family: "Fugaz One", cursive;
  font-weight: 400;
}

.font-farsan {
  font-family: "Farsan", cursive;
  font-weight: 400;
  font-size: 1.5rem;
}

.font-bowlby-one-sc {
  font-family: "Bowlby One SC", cursive;
  font-weight: 400;
}

@media screen and (max-width: 1281px) {
  .polaroid-frame {
    flex: 1 22rem;
    height: 40vh;
  }

  .polaroid-image {
    height: 32vh;
  }

  .polaroid-container {
    gap: 4rem;
  }
}

@media screen and (max-width: 920px) {
  .polaroid-container {
    gap: 2rem;
  }
}

@media screen and (max-width: 769px) {
  .polaroid-container {
    gap: 4rem;
    flex-direction: column;
    padding: 0 1rem;
  }

  .polaroid-frame {
    flex: 1;
    height: 42vh;
  }

  .polaroid-image {
    height: 36vh;
  }
}

@media screen and (max-width: 376px) {
  .polaroid-container {
    gap: 2rem;
    flex-direction: column;
    padding: 0 2px;
  }

  .polaroid-image {
    height: 30vh;
  }
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

/* Chips Grid */
.chips-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}

.chips-grid > .chip {
  background-color: var(--color-primary);
  color: var(--color-on-accent);
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
  text-decoration: none;
  transition: 150ms all;
}

.chips-grid > .chip:nth-of-type(4n + 2) {
  background-color: var(--color-secondary);
}

.chips-grid > .chip:nth-of-type(4n + 3) {
  background-color: var(--color-tertiary);
}

.chips-grid > .chip:nth-of-type(4n + 4) {
  background-color: var(--color-quaternary);
}

.chips-grid > .chip:hover {
  filter: brightness(0.9);
  transition: 150ms all;
}
